@charset "UTF-8";

@font-face {
  font-family: 'pixel';
  src: url(font/neodgm.ttf) format('woff');
}

.pixel-font {
  font-family: 'pixel', sans-serif; /* Pixel 폰트 적용 */
}

@font-face {
  font-family: 'pretendard';
  src: url('fonts/pretendard.ttf') format('truetype');
}

.pretendard-font {
  font-family: 'pretendard', sans-serif; /* Pretendard 폰트 적용 */
}

body {
  background-color: #344259; /* 배경색 */
  margin: 0; /* 기본 여백 */
  font-family: 'pixel'; /* 기본 폰트 */
}

header {
  background-color: #1a2333; /* 헤더 배경색 */
  color: white; /* 텍스트 색상 */
  height: 100vh; /* 헤더 높이를 뷰포트의 높이와 일치시킴 */
  display: flex; /* 플렉스 박스 설정 */
  align-items: center; /* 콘텐츠를 수직 중앙 정렬 */
  justify-content: center; /* 콘텐츠를 가로 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

header .container {
  max-width: none; /* 최대 너비 제한 제거 */
  width: 100%; /* 너비를 100%로 설정 */
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 여백 제거 */
}

.container {
  --bs-gutter-x: 1rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

section {
  height: 100vh; /* 화면 전체 높이 설정 */
  display: flex; /* 플렉스 박스 설정 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 0 20px; /* 좌우 패딩 설정 (원하는 대로 조정 가능) */
}

/* 백그라운드 설정 */

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  background-color: #344259 !important;
}

/* 네비게이션 바 */

.nav-link {
  display: flex;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .nav-link:focus {
  color: rgb(167, 167, 167);
}

.navbar {
  --bs-navbar-padding-x: 0.5rem;
  --bs-navbar-padding-y: 0.495rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 적용 */
  font-style: italic; /* 기울임 적용 */
  color: white;
  text-decoration: none;
  margin-left: 0;
  margin-top: 8px;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: rgb(167, 167, 167);
}

.navbar-nav {
  --bs-nav-link-padding-x: 0.5rem;
  --bs-nav-link-padding-y: 0.5rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  list-style: none;
}

.navbar-dark {
  background-color: #1a2333;
}

.navbar-dark .nav-link {
  color: white;
}

.navbar-dark .nav-link:hover {
  color: rgba(167, 167, 167);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* 텍스트 */

.text-white {
  --bs-text-opacity: 1;
  color: white !important;
}

p {
  font-family: 'pretendard', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

header h1 {
  font-size: 5rem;
}

h2.pixel-font {
  font-size: 5rem;
}

h3.pixel-font {
  font-size: 5rem;
}

.question-text-white {
  color: #ffffff;
  font-size: 2.4rem;
}

.question-text-black {
  color: #000000;
  font-size: 2.4rem;
}


/* 버튼 스타일 */

.btn {
  background-color: transparent; /* 배경색을 투명으로 설정 */
  border: none; /* 테두리도 제거 */
  --bs-btn-padding-x: 1rem; /* 좌우 패딩을 늘려 버튼 너비 확장 */
  --bs-btn-padding-y: 1rem; /* 상하 패딩을 늘려 버튼 높이 확장 */
}

.btn-light {
  background-color: transparent; /* 배경색을 투명하게 설정 */
  color: #87CEEB; /* 하늘색으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
  border: none; /* 기본 테두리 제거 */
  padding: 2rem 2rem; /* 버튼 패딩 조정 (위 아래 1rem, 좌우 2rem) */
  font-size: 1.5rem; /* 폰트 크기 조정 (필요에 따라 조정 가능) */
}

.btn-light:hover, .btn-light:focus {
  color: rgb(167, 167, 167); /* 호버 시 색상을 좀 더 어두운 하늘색으로 변경 (선택 사항) */
}

button {
  padding: 5px 10px; /* Reduce padding for smaller buttons */
  font-size: 1.2rem; /* Decrease font size */
  cursor: pointer;
}

:root {
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-black-rgb: 0, 0, 0;
}

:root {
    scroll-behavior: smooth;
  }

/* margin */

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 150px !important;
}


/* 여기부터 확인 필요 */ 
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

#q0 h2 {
  margin-bottom: 1rem; /* 원하는 크기로 조정 */
  font-size: 3rem; /* 텍스트 크기 조정 */
}

#q0 .lead {
  margin-bottom: 3rem; /* 원하는 간격 크기로 조정 */
}

/* 전체 화면 중앙 정렬을 위한 컨테이너 설정 */
#q0 .container {
  display: flex;
  justify-content: center;  /* 수평 가운데 정렬 */
  align-items: center;      /* 수직 가운데 정렬 */
  height: 100vh;            /* 화면 높이와 일치하도록 설정 */
}

input {
  text-align: center; /* 텍스트를 중앙 정렬 */
}

/* 입력창 크기와 정렬 */
.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-control {
  flex-basis: 250px; /* 입력창의 너비를 조정 */
  max-width: 100%;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.next-btn {
  padding: 0.5rem 1rem;
}

.arrow-icon {
  width: 24px; /* 아이콘의 너비 조정 */
  height: 24px; /* 아이콘의 높이 조정 */
}

.question-text {
  color: #ffffff; /* 텍스트 색상을 하얀색으로 변경 */
  font-size: 2.4rem;
}

.answer-input {
  margin-top: 4rem; /* 질문과 입력창 사이의 간격 조정 */
  width: 80%;
}

.btn {
  margin-top: 20px; /* 버튼과 입력창 간격 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--bs-link-hover-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
